.container {
  min-height: 0;
  padding: 10px ;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.address{
  border: 50px ;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
